<div class="modal fade" id="add-group-header" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
        <div class="modal-content modal-add-group-content"></div>
    </div>
</div>