<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="LayoutComponents/_Styles.cshtml" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Loading Screen -->
    <div id="ju-loading-screen">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>
    <!-- Start Top Header -->
    <partial name="LayoutComponents/_HeaderTop.cshtml" />
    <!-- /End Top Header -->
    <!-- Start Navigation -->
    <div class="fables-navigation fables-main-background-color py-3 py-lg-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 pr-md-0">
                    <partial name="LayoutComponents/_Navigation.cshtml" />
                </div>
            </div>
        </div>
    </div>
    <!-- /End Navigation -->
    <!-- Start page content -->
    @RenderBody()
    <!-- /End page content -->
    <!-- Start Footer 2 Background Image  -->
    <partial name="LayoutComponents/_Footer.cshtml" />
    <!-- /End Footer 2 Background Image  -->
    <!--Start Scripts-->
    <partial name="LayoutComponents/_Scripts.cshtml" />
    @RenderSection("Scripts", required: false)
    <!-- /End Scripts-->
</body>
</html>