<ul class="navbar-nav ml-md-auto ubuntu-light">
    <li class="nav-item">
        <a class="nav-link fables-third-text-color px-2
           fables-second-hover-color top-header-link max-line-height" asp-action="Contact" asp-controller="Discussion">
            <i class="far fa-envelope"></i>
        </a>
    </li>    
    <li class="nav-item dropdown">
        <a title="Profil" class="nav-link dropdown-toggle fables-third-text-color px-2
           fables-second-hover-color top-header-link max-line-height"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" id="login" asp-action="Login" asp-controller="Account"><i class="far fa-address-card prefix mr-2"></i>Profile</a>
            <form style="width:inherit" id="logoutForm" class="" asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@Url.Action("Index", "Home")">
                <button id="logout" type="submit" class="nav-link btn-sm btn-outline-my-green text-dark btn-logout"><i class="fas fa-sign-out-alt prefix"></i>Déconnexion</button>
            </form>
        </div>
    </li>
</ul>