<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-7 mr-auto index-carousel">
            <div class="owl-carousel owl-theme default-carousel nav-0 z-index mt-md-4 mt-xl-5 pt-md-4 pt-xl-5 dots-0 pb-md-5">
                <div class="pt-0 mt-0 pt-xl-5 mt-xl-5 wow slideInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <h1 class="fables-main-text-color font-weight-bold mb-1">
                        CONSULTING SERVICE FOR ALL
                        <span class="fables-second-text-color">KIND OF BUSINESSES</span>
                    </h1>
                    <p class="fables-forth-text-colo mb-3 light-font fables-header-slider-details">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>
                    <a href="#" class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-3 px-md-4 py-2 bg-hover-transparent fables-second-hover-color">Our Services</a>
                    <a href="#" class="btn fables-second-border-color fables-second-text-color rounded-0 px-3 px-md-4 py-2 fables-second-hover-background-color">Learn More</a>
                </div>
                <div class="pt-0 mt-0 pt-xl-5 mt-xl-5 wow slideInUp" data-wow-duration="2s" data-wow-delay=".8s">
                    <h1 class="fables-main-text-color font-weight-bold mb-1">
                        CONSULTING SERVICE FOR ALL
                        <span class="fables-second-text-color">KIND OF BUSINESSES</span>
                    </h1>
                    <p class="fables-forth-text-colo mb-3 light-font fables-header-slider-details">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>
                    <a href="#" class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-3 px-md-4 py-2 bg-hover-transparent fables-second-hover-color">Our Services</a>
                    <a href="#" class="btn fables-second-border-color fables-second-text-color rounded-0 px-3 px-md-4 py-2 fables-second-hover-background-color">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>