<div class="fables-forth-background-color fables-top-header-signin">
    <div class="container">
        <div class="row" id="top-row">
            <div class="col-12 col-sm-2 col-lg-5">
                <div class="dropdown">
                    <button class="dropdown-toggle border-0 bg-transparent font-13 lang-dropdown-btn pl-0" type="button" id="dropdownLangButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Langue
                    </button>
                    <div class="dropdown-menu white-text p-0 fables-forth-background-color rounded-0 m-0 border-0 lang-dropdown" aria-labelledby="dropdownLangButton">
                        <a asp-route-culture="fr" class="dropdown-item white-color font-13 fables-second-hover-color">
                            <img src="~/template/images/France.png" alt="French flag" class="mr-1"> Français
                        </a>
                        <a asp-route-culture="en" class="dropdown-item white-color font-13 fables-second-hover-color">
                            <img src="~/template/images/england.png" alt="England flag" class="mr-1"> English
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-5 col-lg-4 text-right">
                <p class="fables-third-text-color font-13"><span class="fables-iconphone"></span> Phone :  +32 (0) 494 68 00 38</p>
            </div>
            <div class="col-12 col-sm-5 col-lg-3 text-right">
                <p class="fables-third-text-color font-13"><span class="fables-iconemail"></span> Email: contact@betweenus.be</p>
            </div>
        </div>
    </div>
</div>