<ul class="navbar-nav nav-flex-icons">
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Login" class="btn btn-white btn-sm red-text font-weight-bold btn-rounded spacing ubuntu-light"
           data-offset="100">
            <strong>Se connecter</strong>
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Register" class="btn btn-red btn-sm white-text font-weight-bold btn-rounded spacing ubuntu-light"
           data-offset="100">
            <strong>S'inscrire</strong>
        </a>
    </li>
</ul>