@inject IViewLocalizer  Localizer

@section Styles{ 
    <style>
        
    </style>
}

<div class="dropdown-menu dropdown-menu-right mega-menu v-2 z-depth-1 special-color py-5 px-3" aria-labelledby="notification-menu">
    <div class="row">
        <div class="col-md-12 sub-menu mb-xl-0 mb-4">
            <h6 class="sub-title text-uppercase font-weight-bold white-text">Featured</h6>
            <ul class="list-unstyled">
                <li>
                    <a class="menu-item pl-0" href="#!">
                        <i class="fas fa-caret-right pl-1 pr-3"></i>Lorem ipsum dolor sit amet
                    </a>
                </li>
                <li>
                    <a class="menu-item pl-0" href="#!">
                        <i class="fas fa-caret-right pl-1 pr-3"></i>Consectetur adipiscing elit
                    </a>
                </li>
                <li>
                    <a class="menu-item pl-0" href="#!">
                        <i class="fas fa-caret-right pl-1 pr-3"></i>Sed do eiusmod tempor incididunt
                    </a>
                </li>
                <li>
                    <a class="menu-item pl-0" href="#!">
                        <i class="fas fa-caret-right pl-1 pr-3"></i>Ut labore et dolore magna
                    </a>
                </li>
                <li>
                    <a class="menu-item pl-0" href="#!">
                        <i class="fas fa-caret-right pl-1 pr-3"></i>Ut enim ad minim veniam
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>