.form-control:focus {
    border-color: #0e9c9c;
}

.bg-ghost {
    background-color: ghostwhite;
}

.fables-main-background-color, .fables-main-before a::before, .fables-main-before a::after, .fables-main-active.active, .fables-main-dots .owl-dot.active span, .fables-main-hover-background-color:hover {
    background-color: #0e9c9c !important;
}