@model SearchModel
@inject IViewLocalizer Localizer;

@{
    ViewBag.Title = Localizer["Titre"];
    var users = Model.Users;
    var search = ViewBag.Search is null;
    var categories = ViewBag.Categories as List<ServiceGroup>;
}

@section Styles {
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/bootstrap-material-datetimepicker-bs4.min.css" rel="stylesheet" />
    <link href="~/mdb/css/rating.min.css" rel="stylesheet" />
    <link href="~/css/multicast.css" rel="stylesheet" />
    <style>
        .dtp-btn-cancel {
            color: var(--custom-green-color) !important;
        }

        .dtp-btn-ok {
            color: var(--custom-green-color) !important;
        }

        .modal-dialog.modal-notify.modal-info .fas {
            color: black;
        }
    </style>
}

<!-- Start page content -->
<div class="container">
    <div class="row my-4 my-md-5">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="fables-store-search mb-4">
                <form asp-action="Index" asp-controller="Search">
                    <div class="input-icon">
                        <span class="fables-iconsearch-icon fables-input-icon"></span>
                        @if (!search)
                        {
                            <input type="text" id="search-input" name="search" class="form-control rounded-0 form-control mdb-autocomplete
                                   rounded-0 font-14 fables-store-input pl-5 py-2" placeholder="Tapez le service" autocomplete="off" value="@ViewBag.Search">
                        }
                        else
                        {
                            <input type="text" id="search-input" name="search" class="form-control rounded-0 form-control mdb-autocomplete
                                   rounded-0 font-14 fables-store-input pl-5 py-2" placeholder="Tapez le service" autocomplete="off">
                        }
                        <button type="submit" class="btn btn-block fables-second-background-color
                                white-text hoverable p-2 font-15 mb-4 mt-1">
                            Rechercher
                        </button>
                    </div>
                </form>
            </div>

            <h2 class="font-16 semi-font fables-forth-text-color fables-light-gary-background  p-3 mt-3">Catégories de service</h2>
            <ul class="nav fables-forth-text-color fables-forth-before fables-store-left-list">
                @foreach (var group in categories)
                {
                    <li><a class="disabled" href="#">@group.Title</a></li>
                }
            </ul>
        </div>
        <div class="col-12 col-md-8 col-lg-9 margin">
            <div class="row mb-4">
                <div class="col-12 col-lg-4">
                    <form>
                        <div class="form-group mb-0">
                            <select class="form-control rounded-0 browser-default custom-select" id="filter">
                                <option selected>default sorting</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-4 col-md-6 col-lg-2 offset-lg-6 text-center pl-0 d-none d-lg-block">
                    <span class="fables-iconlist fa-fw fables-view-btn fables-list-btn fables-third-border-color fables-third-text-color"></span>
                    <span class="fables-icongrid active fa-fw fables-view-btn fables-grid-btn fables-third-border-color fables-third-text-color"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="dyn-search-content">
                    <partial name="_SearchResult.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /End page content -->

<partial name="/Views/Discussion/_SearchMessageHeader.cshtml" />
<partial name="/Views/Request/_RequestHeader.cshtml" />
<partial name="/Views/Testimonial/_TestimonialHeader.cshtml" />
@section Scripts{
    <script src="~/js/search.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap-material-datetimepicker-bs4.min.js"></script>


    <script type="text/javascript">
        var lang = "@ViewBag.Culture";
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $(".dtp-select-hour").attr("fill", "#0e9c9c");
        })
    </script>
    <script src="~/js/business/request.js"></script>
    <script src="~/mdb/js/rating.js"></script>
    <script src="~/js/business/testimonial.js"></script>
    <script src="~/js/business/send-search-message.js"></script>
}