@inject IViewLocalizer Localizer;

@{
    Layout = "_LayoutIndex";
    ViewBag.Title = Localizer["Titre"];
}

@section Styles {
    <style>      
    </style>
}

<!-- Start Header -->
<div class="fables-header fables-after-overlay overlay-lighter index-traingle bg-rules mt-md-5" style="background-image: url(/template/images/index-background.jpg);">
    <partial name="/Views/Shared/LayoutComponents/_Header.cshtml" />
</div>
<!-- /End Header -->

<div class="container">
    
</div>