@inject IViewLocalizer Localizer;

@{
    Layout = "_LayoutIndex";
    ViewBag.Title = Localizer["Titre"];
}

@section Styles {
    <style>
        @@media (max-width : 768px) {
            .index-traingle::before {
                margin-top: auto;
                margin-bottom: 3em;
            }

            .img-logo {
                width: 60%;
                height: auto;
            }
        }
    </style>
}

<!-- Start Header -->
<div class="fables-header fables-after-overlay overlay-lighter index-traingle bg-rules" style="        background-image: url(/template/images/index-background.jpg);">
    <partial name="/Views/Shared/LayoutComponents/_Header.cshtml" />
</div>
<!-- /End Header -->

<div class="container">
    Page content
    <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-green btn-sm white-text font-weight-bold btn-rounded spacing ubuntu-light bg-color-red"
       data-offset="100" role="button">
        <strong>S'inscrire</strong>
    </a>
</div>