@inject IViewLocalizer Localizer;

@{
    ViewBag.Title = Localizer["Titre"];

    var cultureFR = CultureInfo.CurrentCulture.Name.Contains("fr");
    var culture = (cultureFR) ? CultureInfo.CreateSpecificCulture("fr-FR") : CultureInfo.CreateSpecificCulture("en-US");
}

@section Styles {
    <link href="~/template/css/timeline.css" rel="stylesheet" />
    <style>
    </style>
}

<!-- Start page content -->
<div class="container">
    <div id="cd-timeline" class="cd-container gallery-timeline my-4 my-md-5">
        <span class="fables-second-background-color line"></span>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img"></div>
            <div class="cd-timeline-content">
                <a href="#"><img src="~/images/steps/register.jpg" alt="" class="w-100" height="150"></a>
                <h2 class="font-15 semi-font px-3 mt-2">
                    <a href="#" class="fables-second-text-color fables-main-hover-color fables-gallery-timeline-head">
                        Inscription
                    </a>
                </h2>
                <p class="fables-forth-text-color fables-gallery-timeline-details">
                    Inscrivez-vous, renseignez vos services.
                </p>
                <span class="cd-date white-text">1</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img"></div>
            <div class="cd-timeline-content">
                <a href="#"><img src="~/images/steps/points.jpg" alt="" class="w-100" height="150"></a>
                <h2 class="font-15 semi-font px-3 mt-2">
                    <a href="#" class="fables-second-text-color fables-main-hover-color fables-gallery-timeline-head">
                        Gagnez des points
                    </a>
                </h2>
                <p class="fables-forth-text-color fables-gallery-timeline-details">
                    Dès votre inscription, gagnez vos premiers points. Vous avez besoin d'un service ?
                </p>

                <span class="cd-date white-text">2</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img"></div>
            <div class="cd-timeline-content">
                <a href="#"><img src="~/images/steps/search.jpg" alt="" class="w-100" height="150"></a>
                <h2 class="font-15 semi-font px-3 mt-2">
                    <a href="#" class="fables-second-text-color fables-main-hover-color fables-gallery-timeline-head">
                        Rechercher ou publier une demande
                    </a>
                </h2>
                <p class="fables-forth-text-color fables-gallery-timeline-details">
                    Rechercher la personne qu'il vous faut et envoyez-lui votre demande.
                    Fixez directement rendez-vous avec une discussion privée.
                    Ou encore, publier votre demande. Les personnes conpétentes vous répondront et vous aurez le loisir d'en choisir une.
                </p>

                <span class="cd-date white-text">3</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img"></div>
            <div class="cd-timeline-content">
                <a href="#"><img src="~/images/steps/service_done.jpg" alt="" class="w-100" height="150"></a>
                <h2 class="font-15 semi-font px-3 mt-2">
                    <a href="#" class="fables-second-text-color fables-main-hover-color fables-gallery-timeline-head">
                        Service rendu
                    </a>
                </h2>
                <p class="fables-forth-text-color fables-gallery-timeline-details">
                    Le service a été rendu ? Votre correspondant le signalera.
                    Tout ce que vous aurez à faire, c'est de marquer ce service comme rendu.
                </p>

                <span class="cd-date white-text">4</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img"></div>
            <div class="cd-timeline-content">
                <a href="#"><img src="~/images/steps/feedback.jpg" alt="" class="w-100" height="150"></a>
                <h2 class="font-15 semi-font px-3 mt-2">
                    <a href="#" class="fables-second-text-color fables-main-hover-color fables-gallery-timeline-head">
                        Donnez votre avis
                    </a>
                </h2>
                <p class="fables-forth-text-color fables-gallery-timeline-details">
                    Vous êtes ravi de la prestation de votre correspondant ? Donnez votre avis et une note. Il sera ravi lui aussi.
                </p>

                <span class="cd-date white-text">5</span>
            </div>
        </div>


    </div>
</div>
<!-- /End page content -->

@section Scripts {
    <script src="~/template/js/timeline.js"></script>
    <script src="~/template/js/modernizr.js"></script>
}