@model Article
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}
@section Styles{

}
<style>
</style>

<div class="fables-after-overlay py-4 py-lg-5 mb-4 mb-lg-5 bg-rules" style="background-image: url('/images/register-bg-2.jpg');">
    <div class="container position-relative z-index">
        <form asp-controller="Home" asp-action="Temp">
            <div class="row">
                <div class="col-6">
                    <select class="browser-default custom-select" id="category" asp-items="@(new SelectList(Model.Categories,"Id","Name"))">
                        <option selected>Choisir une catégorie</option>
                    </select>
                </div>
                <div class="col-6">
                    <select class="browser-default custom-select" id="product">
                        <option selected>Choisir d'abord une catégorie</option>
                    </select>
                </div>
            </div>
            
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("#category").on("change", function () {
            var id = $(this).children("option:selected").val();
            $.ajax({
                type: "GET",
                url: "/Home/Products/" + id,
                dataType: "html",
                success: function (data) {                    
                    $("#product").html("");
                    $("#product").html(data);
                },
                error: function () {
                    alert("error")
                }
            })
        });
    </script>
}