<div class="col-md-7 card py-3" style="box-shadow:none">
    <div class="card-body">
        <div class="mb-4">
            <h5 class="text-color-green mb-2">Etape 1</h5>
            <p>
                Inscrivez-vous, renseignez vos services.
            </p>
        </div>
        <div class="my-4">
            <h5 class="text-color-green mb-2">Etape 2</h5>
            <p>
                Dès votre inscription, gagnez vos premiers points. Vous avez besoin d'un service ?
            </p>
        </div>
        <div class="my-4">
            <h5 class="text-color-green mb-2">Etape 3</h5>
            <p>
                ... Rechercher la personne qu'il vous faut. Fixez directement rendez-vous avec une discussion privée.
            </p>
        </div>
        <div class="my-4">
            <h5 class="text-color-green mb-2">Etape 4</h5>
            <p>
                Ca y est! Le rendez-vous est fixé.
            </p>
        </div>
        <div class="mt-4">
            <h5 class="text-color-green mb-2">Etape 5</h5>
            <p>
                Le travail est effectué. Les points ont été transférés. Bravo, vous savez comment Between Us fonction.
            </p>
        </div>
    </div>
</div>