<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="SharedServices">
<meta name="author" content="Koami LABA">
<link rel="shortcut icon" href="~/template/images/shortcut.png">

<title>@ViewData["Title"] - SharedServices</title>

<link href="~/template/css/animate.min.css" rel="stylesheet" />
<link href="~/template/css/spinkit.css" rel="stylesheet" />
@*<link href="~/template/fontawesome/fontawesome-all.min.css" rel="stylesheet" />*@
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="~/template/css/fables-icons.css" rel="stylesheet" />
<link href="~/template/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/template/css/bootstrap-4-navbar.css" rel="stylesheet" />
<link href="~/template/css/portfolio-filter-gallery.css" rel="stylesheet" />
<link href="~/template/css/jquery.fancybox.min.css" rel="stylesheet" />
<link href="~/template/css/range-slider.css" rel="stylesheet" />
<link href="~/template/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/template/css/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/template/css/custom.css" rel="stylesheet" />
<link href="~/template/css/custom-responsive.css" rel="stylesheet" />
<link href="~/mdb/css/mdb.min.css" rel="stylesheet" />
<link href="~/mdb/css/mdb.lite.min.css" rel="stylesheet" />