@{
    ViewData["Title"] = "Confirmez votre email";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 ubuntu-light">
            <h3 class="ubuntu-medium">@ViewData["Title"]</h3>
            <p>
                Veuillez vérifier votre courriel pour confirmer votre compte.
            </p>
        </div>
    </div>
</div>