@model PaginatedRequests<RequestMulticast>
@inject SignInManager<ApplicationUser> SignInManager;
@inject IViewLocalizer Localizer;

@{
    ViewBag.Title = Localizer["Titre"];

    var requests = Model;

    var cultureFR = CultureInfo.CurrentCulture.Name.Contains("fr");
    var culture = (cultureFR) ? CultureInfo.CreateSpecificCulture("fr-FR") : CultureInfo.CreateSpecificCulture("en-US");
}

@section Styles {
    <style>
    </style>
}

<div class="container">
    <div class="row my-4 my-md-5">
        <div class="col-md-12">
            <div class="row mb-4 d-flex align-items-end">
                <div class="col-md-4">
                    <form>
                        @{ var disabled = SignInManager.IsSignedIn(User) ? string.Empty : "disabled";}
                        <div class="form-group mb-0">
                            <label for="filter">Trier par : </label>
                            <select class="form-control rounded-0 browser-default custom-select @disabled" id="filter"
                                    asp-items="Html.GetEnumSelectList(typeof(SharedServices.Mutual.Enumerations.SearchOptions))">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-7 offset-md-1 text-center pl-0 d-none d-lg-block">
                    <span class="fables-iconlist fa-fw fables-view-btn fables-list-btn fables-third-border-color fables-third-text-color"></span>
                    <span class="fables-icongrid active fa-fw fables-view-btn fables-grid-btn fables-third-border-color fables-third-text-color"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-0" id="dyn-content">
                    <partial name="_AllRequestMulticast.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="/Views/Discussion/_SearchMessageHeader.cshtml" />
<partial name="/Views/Request/_RequestHeader.cshtml" />
@section Scripts{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLI9riil_9An2u7RA8zp8wXy0CGRZljvU"></script>
    <script src="~/js/search.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap-material-datetimepicker-bs4.min.js"></script>
    <script src="~/js/business/request-response.min.js"></script>
    <script src="~/js/business/all-search.js"></script>

    <script type="text/javascript">
        var lang = "@ViewBag.Culture";
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}