@model ApplicationUser
@inject IViewLocalizer Localizer;
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewBag.Title = Localizer["Titre"];
    var user = Model;
    var received = user.RequestsReceived;
    var sent = user.RequestsSent;

    var cultureFR = CultureInfo.CurrentCulture.Name.Contains("fr");
    var culture = (cultureFR) ? CultureInfo.CreateSpecificCulture("fr-FR") : CultureInfo.CreateSpecificCulture("en-US");
}


@section Styles {
    <style>
        @@media (max-width:768px) {
            .align {
                text-align: center;
            }
        }

        .align ::after {
            text-align: left;
        }
    </style>
}
<!-- Start page content -->
<div class="container">
    <div class="row my-4 my-md-5">
        <div class="col-12">
            <nav class="fables-single-nav">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="fables-single-item nav-link fables-forth-text-color fables-second-active fables-second-hover-color
                       fables-forth-after px-3 px-md-5 font-15 semi-font border-0 active rounded-0 py-3" id="nav-receive-tab"
                       data-toggle="tab" href="#nav-received" role="tab" aria-controls="nav-desc" aria-selected="true">
                        REÇUES
                    </a>
                    <a class="fables-single-item nav-link fables-forth-text-color fables-second-active fables-second-hover-color
                       fables-forth-after border-0 px-3 px-md-5 font-15 semi-font rounded-0 py-3" id="nav-send-tab"
                       data-toggle="tab" href="#nav-sent" role="tab" aria-controls="nav-review" aria-selected="false">
                        ENVOYÉES
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-received" role="tabpanel" aria-labelledby="nav-receive-tab">
                    <div class="">
                        <h2 class="position-relative font-23 semi-font fables-blog-category-head fables-main-text-color fables-second-before pl-3 mb-4">Demandes reçues</h2>
                        <div class="row">
                            <div class="col-md-12 receivedCol">
                                <partial name="_ReceivedRequests.cshtml" />
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="tab-pane fade" id="nav-sent" role="tabpanel" aria-labelledby="nav-send-tab">
                    <div class="">
                        <h2 class="position-relative font-23 semi-font fables-blog-category-head fables-main-text-color fables-second-before pl-3 mb-4">Demandes envoyées</h2>
                        <partial name="_SentRequests.cshtml" />
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/business/manage-self-requests.js"></script>
    <script src="~/js/business/manage-requests-acceptance.js"></script>
    <script src="~/js/business/manage-requests-validation.js"></script>
} 